<div class = "Container">
    <div class = "upper-data">
        <img src ="../assets/images/hot.png"  *ngIf="14 > 15">
        <img src ="../assets/images/cold.png" *ngIf="14 <= 15">

        <div class = "weatherData">
            <div class = "location"> Melbourne

            </div>
            <div *ngIf="temperature" class = "temperature" >
                {{temperature | number: '1.0-0'}}°C

            </div>
        </div>
    </div>
        
    
    <div class = "lowerData">
        
        <div class="moreInfoLabel">
            More Information 
        </div>
        <div class="moreInfoContianer">
            <!-- min temp-->
            <div class="infoBlock">
                <div class="infoBlockLabel">
                    <img src="../assets/images/min.png">
                    <span>min</span>
                </div>
                <div class="infoBlockValue">
                    10°C
                </div>
            </div>
            <!-- max temp-->
            <div class="infoBlock">
                <div class="infoBlockLabel">
                    <img src="../assets/images/max.png">
                    <span>max</span>
                </div>
                <div class="infoBlockValue">
                    20°C
                </div>
            </div>
            
            <!-- humidity temp-->
            <div class="infoBlock">
                <div class="infoBlockLabel">
                    <img src="../assets/images/humidity.png">
                    <span>humidity</span>
                </div>
                <div class="infoBlockValue">
                    77%
                </div>
            </div>

            <!-- max temp-->
            <div class="infoBlock">
                <div class="infoBlockLabel">
                    <img src="../assets/images/wind.png">
                    <span>wind</span>
                </div>
                <div class="infoBlockValue">
                    11 km/h
                </div>
            </div>


        </div>

    </div>

</div>